# Python Set

## Exercise 01

 1. Find the length of the set it_companies
 2. Add 'Twitter' to it_companies
 3. Insert multiple IT companies at once to the set it_companies
 4. Remove one of the companies from the set it_companies
 5. What is the difference between remove and discard

 it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# 1
print(len(it_companies))

# 2
it_companies.add('Twitter')
print(it_companies)

# 3
it_companies.update(['Intel', 'Cisco', 'HP'])
print(it_companies)

# 4
it_companies.remove('Cisco')
print(it_companies)

# 5
it_companies.discard('Oracle')
print(it_companies)

7
{'Apple', 'Twitter', 'Amazon', 'Google', 'Oracle', 'IBM', 'Microsoft', 'Facebook'}
{'Oracle', 'Facebook', 'Apple', 'Twitter', 'Intel', 'Google', 'Microsoft', 'Amazon', 'HP', 'Cisco', 'IBM'}
{'Oracle', 'Facebook', 'Apple', 'Twitter', 'Intel', 'Google', 'Microsoft', 'Amazon', 'HP', 'IBM'}
{'Facebook', 'Apple', 'Twitter', 'Intel', 'Google', 'Microsoft', 'Amazon', 'HP', 'IBM'}

In [2]:
it_companies.remove('Oracle') 
print(it_companies)

KeyError: 'Oracle'

## Exercise 02

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

 1. Join A and B
 2. Find A intersection B
 3. Is A subset of B
 4. Are A and B disjoint sets
 5. Join A with B and B with A
 6. What is the symmetric difference between A and B
 7. Delete the sets completely

In [3]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# 1
C = A.union(B)
print(C)

# 2
D = A.intersection(B)
print(D)

# 3
print(A.issubset(B)) 

# 4
print(A.isdisjoint(B))

# 5

A.update(B)
B.update(A)
print(A)
print(B)

# 6
E = A.symmetric_difference(B)
print(E)

# 7
del A
del B

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
set()

## Exercise 03

 1. Convert the ages to a set
 2. compare the length of the list and the set, which one is bigger?
 
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [5]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1
age_set = set(age)
print(age_set)

# 2
if len(age) > len(age_set):
    print("The list has more elements than the set.")
elif len(age) < len(age_set):
    print("The set has more elements than the list.")
else:
    print("The list and the set have the same number of elements.")

{19, 22, 24, 25, 26}
The list has more elements than the set.

## Exercise 04

(I am a teacher and I love to inspire and teach people.)
How many unique words have been used in the sentence?

âš ï¸ Use the split methods and set to get the unique words.

In [8]:
sentence = "I am a teacher and I love to inspire and teach people."

words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words)

print("The sentence has", num_unique_words, "unique words.")

The sentence has 10 unique words.

In [6]:
sentence = "I am a teacher and I love to inspire and teach people."


num_unique_words = len(set(sentence.split()))

print("The sentence has", num_unique_words, "unique words.")

The sentence has 10 unique words.

ðŸ’•ðŸ’›ðŸ¦•